// Override Bootstrap color system

$yellow: #fed136;

$mds-blue--light: #3A75B6;
$mds-blue--dark: #121442;

// Override Bootstrap default state colors

$primary: $mds-blue--light;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
